- if !vertex.hidden?
  - numeric_classes = ['hex_integer']
  - numeric_classes << 'mutable' if !vertex.immutable?
  - display_value = "0x" + field_value.to_s(16) if field_value
  %div.widget.simple_widget.numeric.hex_integer.form-group{:id => "#{vertex.pretty_id}_widget", :title => widget.hover, :class => numeric_classes.join(' ')}
    %input.widget_type{:type => 'hidden', :value => 'hex_integer'}
    %input.widget_getter{:type => 'hidden', :value => widget.getter}
    %input.widget_name{:type => 'hidden', :value => pretty_name}
    - if widget.association_class_widget
      %input.association_class_widget{:type => 'hidden', :value => 'y'}
    %label.widget_label.font-weight-bold{:for => vertex.pretty_id}
      = widget.label
    %input.form-control.bootstrap-tooltip{:class => (!vertex.immutable? ? 'widget_data' : '' ), :type => 'text', :name => pretty_name, :value => display_value, :initial_value => initial_field_value, :id => vertex.pretty_id, :required => widget.required_html, :pattern => widget.regex_pattern, :placeholder => widget.placeholder_text, 'data-storage' => widget.save_form_field_draft ? 'true' : 'false', :readonly => vertex.immutable?, :disabled => vertex.immutable?, 'data-toggle' => 'tooltip', 'data-placement' => 'top'}