- if !vertex.hidden?
  %div.widget.simple_widget.choice.boolean.form-group.form-row.align-items-center{:id => "#{vertex.pretty_id}_widget", :class => !vertex.immutable? ? 'mutable' : ''}
    %input.widget_type{:type => 'hidden', :value => 'boolean'}
    %input.widget_getter{:type => 'hidden', :value => widget.getter}
    %input.widget_name{:type => 'hidden', :value => pretty_name}
    - if widget.association_class_widget
      %input.association_class_widget{:type => 'hidden', :value => 'y'}
    %label.widget_label.font-weight-bold.col-form-label.col-md-2{:for => vertex.pretty_id}
      = widget.label
    - if widget.help_html
      -# Note:  Not sure if allowing html opens up to xss attacks.  It probably doesn't since it doesn't originally come from a user but I'm not sure -TB
      -# Also this should be a render partial call but it doesn't work since this isn't a ramaze controller and that method would have to be made in the html gui builder controllers
      %button.btn.btn-sm.btn-info.help-info-button.ml-1{:type => 'button', 'data-toggle' => 'popover', :title => "#{widget.label} Help", 'data-html' => 'true', 'data-content' => widget.help_html}
        ?
    .col-md-4
      %select.custom-select.bootstrap-tooltip{:class => (!vertex.immutable? ? 'widget_data' : '' ), :name => pretty_name, :id => vertex.pretty_id, :initial_value => initial_field_value.to_s, 'data-storage' => widget.save_form_field_draft ? 'true' : 'false', :readonly => vertex.immutable?, :disabled => vertex.immutable?, :title => widget.hover, 'data-toggle' => 'tooltip', 'data-placement' => 'top'}
        - unless widget.required
          %option{:value => '', :selected => ['', nil].include?(field_value)}
            \-
        - widget.choices.each_with_index do |option, index|
          %option{:value => option, :selected => (field_value.to_s.downcase == option.downcase)}
            = option