- if !vertex.hidden?
  %div.widget.simple_widget.button.form-group{:id => "#{vertex.pretty_id}_widget", :class => !vertex.immutable? ? 'mutable' : ''}
    %input.widget_type{:type => 'hidden', :value => 'button'}
    %input.widget_getter{:type => 'hidden', :value => widget.getter}
    %input.display_result{:type => 'hidden', :value => widget.display_result}
    %label.widget_label.font-weight-bold{:for => vertex.pretty_id}
      = widget.label
    - #Should make type dependent on whether 'save_page' is true or not (submit/button)
    %button.action_button.bootstrap-tooltip{:class => 'btn btn-secondary btn-sm', :type => 'submit', :value => widget.button_text, :name => vertex.pretty_id, :disabled => vertex.immutable?, :id => vertex.pretty_id, :title => widget.hover, 'data-toggle' => 'tooltip', 'data-placement' => 'top'}
      = "#{widget.button_text}"