- if !vertex.hidden?
  %div.widget.simple_widget.choice.enumeration.form-row.align-items-center.form-group{:id => "#{vertex.pretty_id}_widget", :title => widget.hover, :class => !vertex.immutable? ? 'mutable' : ''}
    %input.widget_type{:type => 'hidden', :value => 'choice'}
    %input.widget_getter{:type => 'hidden', :value => widget.getter}
    %input.widget_name{:type => 'hidden', :value => pretty_name}
    - if widget.association_class_widget
      %input.association_class_widget{:type => 'hidden', :value => 'y'}
    %label.widget_label.font-weight-bold.col-form-label.col-md-2{:for => vertex.pretty_id}
      = widget.label
    - if widget.help_html
      -# Note:  Not sure if allowing html opens up to xss attacks.  It probably doesn't since it doesn't originally come from a user but I'm not sure -TB
      -# Also this should be a render partial call but it doesn't work since this isn't a ramaze controller and that method would have to be made in the html gui builder controllers
      %button.btn.btn-sm.btn-info.help-info-button.ml-1{:type => 'button', 'data-toggle' => 'popover', :title => "#{widget.label} Help", 'data-html' => 'true', 'data-content' => widget.help_html}
        ?
    .col-md-4
      - literals = enumeration_choices(parent_obj, widget.literals_getter, widget.choices)
      - raise "No options specified for #{widget.getter} choice!" unless literals
      - if widget.multiple
        %select.custom-select{:class => (!vertex.immutable? ? 'widget_data' : '' ), :name => pretty_name + '[]', :id => vertex.pretty_id, :multiple => 'multiple', :initial_value => initial_field_value.to_s, 'data-storage' => widget.save_form_field_draft ? 'true' : 'false', :readonly => vertex.immutable?, :disabled => vertex.immutable?, 'data-toggle' => 'tooltip', 'data-placement' => 'top'}
          %option{ :value => ''}
            \-
          - literals.each do |option|
            %option{ :value => option, :selected => (field_value && field_value.include?(option)) }
              =option.gsub('_',' ')
      - else
        %select.custom-select.bootstrap-tooltip{:class => (!vertex.immutable? ? 'widget_data' : '' ), :name => pretty_name, :id => vertex.pretty_id, :initial_value => initial_field_value.to_s, :required => widget.required_html, 'data-storage' => widget.save_form_field_draft ? 'true' : 'false', :readonly => vertex.immutable?, :disabled => vertex.immutable?, 'data-toggle' => 'tooltip', 'data-placement' => 'top'}
          - unless widget.required
            - # %option{ :value => '', :selected => [nil, ''].include?(field_value) }
            %option{ :value => ''}
              \-
          - literals.each do |option|
            %option{ :value => option, :selected => (field_value == option) }
              =option.gsub('_',' ')