- if !vertex.hidden?
  %div.widget.simple_widget.code.form-group{:id => "#{vertex.pretty_id}_widget", :title => widget.hover, :class => !vertex.immutable? ? 'mutable' : ''}
    %input.widget_type{:type => 'hidden', :value => 'code'}
    %input.widget_getter{:type => 'hidden', :name => 'widget_getter', :value => widget.getter}
    %input.pretty_id{:type => 'hidden', :name => pretty_name, :value => vertex.pretty_id}
    %input.widget_name{:type => 'hidden', :value => pretty_name}
    - if widget.association_class_widget
      %input.association_class_widget{:type => 'hidden', :value => 'y'}
    .row.p-1
      .col-md-6
        %label.widget_label.font-weight-bold{:for => vertex.pretty_id}
          = widget.label
      .col-md-2
        %label.p-2{:for => pretty_name + '_language', :class => widget.show_language_selection ? '' : 'd-none'}
          = 'Select the Language'
      .col-md-4
        %select.widget_data.form-control{:class => widget.show_language_selection ? '' : 'd-none', :name => pretty_name + '_language', :id => vertex.pretty_id + '_language', :disabled => vertex.immutable?, :data_name => 'language', :initial_value => initial_language_value}
          %option{ :value => '', :selected => [nil, ''].include?(language_value)}
          - raise "No choices for language!" unless widget.languages
          - widget.languages.each do |language_option|
            %option{ :value => language_option, :selected => (language_value == language_option) }
              = language_option
    .codemirror-container
      = find_and_preserve do
        %textarea.editor.widget_data{:name => pretty_name + '_content', :id => vertex.pretty_id, :disabled => vertex.immutable?, :data_name => 'content'}
          = content_value.web_escape