- if !vertex.hidden?
  - is_collapsed = !expanded? ? true : false
  - collection_widget_classes = []
  - collection_widget_classes << 'mutable' if !vertex.immutable?
  - collection_widget_classes << (expanded? ? 'expanded' : 'collapsed')
  -# TODO: replace use of .collection_header.composition and ...composer with these classes -SD
  - collection_widget_classes << 'composition'        if is_composition?
  - collection_widget_classes << 'composer'           if is_composer?
  - collection_widget_classes << 'disabled'           if vertex.immutable?
  - collection_widget_classes << 'creation_disabled'  if vertex.immutable?(:disable_creation)
  - collection_widget_classes << 'deletion_disabled'  if vertex.immutable?(:disable_deletion)
  - collection_widget_classes << 'removal_disabled'   if vertex.immutable?(:disable_removal)
  - collection_widget_classes << 'addition_disabled'  if vertex.immutable?(:disable_addition)
  - collection_widget_classes << 'traversal_disabled' if vertex.immutable?(:disable_traversal)
  .collection.view_widget.table_widget.widget.list-group-item.card{:id => "#{vertex.pretty_id}_widget", :class => collection_widget_classes.join(' ')}
    %input.widget_type{    :type => 'hidden', :value => 'collection'}
    %input.widget_getter{  :type => 'hidden', :value => widget.getter}
    %input.data_classifier{:type => 'hidden', :value => data_classifier}
    %input.data_getter{    :type => 'hidden', :value => widget.getter}
    %input.view_type{      :type => 'hidden', :value => view_type}
    %input.view_name{      :type => 'hidden', :value => view_name}
    %input.pretty_id{      :type => 'hidden', :value => vertex.pretty_id}
    - collection_header_classes = [] 
    - collection_header_classes << 'hidden' if vertex.hidden? || hide_collection_header
    - collection_header_classes << 'd-none' if vertex.hidden? || hide_collection_header
    -# If this ID is not unique enough add a random number to it or something -TB
    - collection_content_id = "#{vertex.pretty_id}CollectionContent"
    - if Gui.option(:color_coding)
      - collection_header_classes << 'composition' if is_composition?
      - collection_header_classes << 'composer' if is_composer?
    - if widget.help_html
      -# Note:  Not sure if allowing html opens up to xss attacks.  It probably doesn't since it doesn't originally come from a user but I'm not sure -TB
      -# Also this should be a render partial call but it doesn't work since this isn't a ramaze controller and that method would have to be made in the html gui builder controllers
      %button.btn.btn-sm.btn-info.help-info-button.float-left{:type => 'button', 'data-toggle' => 'popover', :title => "#{widget.label} Help", 'data-html' => 'true', 'data-content' => widget.help_html}
        ?
    .collection_header.view_header.absorb_pagination.d-flex{:class => collection_header_classes.join(' '), 'aria-expanded' => is_collapsed ? 'false' : 'true', 'aria-controls' => collection_content_id}
      %span{:class => 'arrow-icon'}
      %span.view_label.widget_label.mr-2.font-weight-bold
        = widget.label
      -# has_unsaved_positioning attribute is a kludge, lets us know whether it has positions that can be lost on a populate_collection
      %span.unsaved_changes_message.text-danger.d-none
        Unsaved Changes
      - unless hide_collection_header
        %span.header_entry_count.entry_count.ml-auto
          - count = domain_obj_count
          - if count < 1
            None
          - else
            = "#{count} entr#{count == 1 ? 'y' : 'ies'}"
    .collection_content.view_content{:id => collection_content_id, :class => is_collapsed ? 'collapse' : ''}
      - if has_assoc_class?
        %input.has_assoc_class{:type => 'hidden', :value => 'y'}
      - if unassociated_only
        %input.unassociated_only{:type => 'hidden', :value => 'y'}
      - if selection
        %input.selection{:type => 'hidden', :value => 'y'}
      - if selection_create
        %input.selection_create{:type => 'hidden', :value => 'y'}
      - if selection_param_name
        %input.selection_param_name{:type => 'hidden', :value => selection_param_name}
      - if standalone
        %input.standalone{:type => 'hidden', :value => 'y'}
      %input.object_view_name{:type => 'hidden', :value => object_view_name}
      %input.object_view_type{:type => 'hidden', :value => object_view_type}
      -# Information about pending associations
      -# Move to haml template. also used in organizer haml
      - if parent_obj.respond_to?(:pending_association_additions)
        -# Used by gui_director to store calculate the pending associations on page load
        .pending_association_additions
          - pending_association_additions.each do |addition|
            .pending_association_addition
              %input.identifier{:type => 'hidden', :value => addition['identifier']}
              %input.classifier{:type => 'hidden', :value => addition['classifier']}
              %input.through_identifier{:type => 'hidden', :value => addition['through_identifier']}
              %input.through_classifier{:type => 'hidden', :value => addition['through_classifier']}
              - if addition['skip_association']
                %input.skip_association{:type => 'hidden', :value => addition['skip_association']}
        .pending_association_removals
          - pending_association_removals.each do |removal|
            .pending_association_removal
              %input.identifier{:type => 'hidden', :value => removal['identifier']}
              %input.classifier{:type => 'hidden', :value => removal['classifier']}
              %input.through_identifier{:type => 'hidden', :value => removal['through_identifier']}
              %input.through_classifier{:type => 'hidden', :value => removal['through_classifier']}
        .pending_association_deletions
          - pending_association_deletions.each do |deletion|
            .pending_association_deletion
              %input.identifier{:type => 'hidden', :value => deletion['identifier']}
              %input.classifier{:type => 'hidden', :value => deletion['classifier']}
              %input.through_identifier{:type => 'hidden', :value => deletion['through_identifier']}
              %input.through_classifier{:type => 'hidden', :value => deletion['through_classifier']}
      -# Div that contains loading gif while content is loading
      .content_loading_image