- use_radio = association_info[:type] =~ /to_one$/ || selection
- link_icon = '/images/kuba_arrow_button_set_2.svg'
.collection_content_data.content_data
  - table_classes = []
  -#TODO If it is a selection it shouldn't be sortable.  Selection meaning association popups.  This is gross fix me sometime -TB
  - table_classes << 'sortable' if widget.orderable && !selection
  - if widget.orderable
    %input{ :type => 'hidden', :name => "position_getter_#{vertex.pretty_id}", :value => position_getter(association_info)}
    
  .container-fluid
    .filter_inputs.pagination_control{:class => 'row justify-content-md-center', 'aria-label' => "#{widget.getter} Pagination Controls"}
      - tpages = total_pages

      -# Controller inputs needs these fields
      - page_number = page_index + 1
      %input{:type => 'hidden', :name => 'loaded_page_number', :value => page_number}
      %input{:type => 'hidden', :name => 'page_number', :value => page_number}
      
      -# Number of pagination links allowed on both sides of the current page
      - num_links   = 4
      - start_index = (page_index - num_links > 0) ? page_index - num_links : 0
      - end_index   = (page_index + num_links < tpages) ? page_index + num_links : tpages - 1
      
      %ul.pagination
        - previous_page_disabled = page_number <= 1
        - previous_page_classes = 'disabled' if previous_page_disabled
        - # NOTE: setting :disabled here is invalid HTML, so don't rely on this. -SD
        %li.page-item{:class => previous_page_classes, :disabled => previous_page_disabled}
          - # NOTE: setting :disabled here is invalid HTML, so don't rely on this. -SD
          %a.previous_collection_page.page-link{:class => previous_page_classes, :href => '#', :tabindex => (page_number == 1) ? '-1' : nil, :disabled => previous_page_disabled}
            <
        - if start_index > 0
          %li.page-item
            %a.page-link.pagination-collection-link{:href => '#', 'data-page-number' => 1}
              = '1'
          %li.page-item.disabled
            %a.page-link
              = '...'
        - for loop_index in start_index..end_index
          %li.page-item{:class => (loop_index + 1 == page_number) ? 'active' : ''}
            %a.page-link.pagination-collection-link{:disabled => (loop_index + 1 == page_number) ? true : nil, :href => '#', 'data-page-number' => (loop_index + 1)}
              = loop_index + 1
        - if end_index < tpages - 1
          %li.page-item.disabled
            %a.page-link
              = '...'
          %li.page-item
            %a.page-link.pagination-collection-link{:href => '#', 'data-page-number' => tpages}
              = tpages
        - next_page_disabled = page_number >= tpages
        - next_page_classes = 'disabled' if next_page_disabled
        / NOTE: setting :disabled here is invalid HTML, so don't rely on this. -SD
        %li.page-item{:class => next_page_classes, :disabled => next_page_disabled}
          / NOTE: setting :disabled here is invalid HTML, so don't rely on this. -SD
          %a.next_collection_page.page-link{:class => next_page_classes, :href => '#', :tabloop_index => (page_number == tpages) ? '-1' : nil, :disabled => next_page_disabled}
            >
         
      -#Filter Information
      .filter-information
        %input{:type => 'hidden', :name => 'collection_size', :value => filtered_count}
        %span.ml-2
          Items Per Page
        %input{:type => 'text', :name => 'page_size', :value => page_size, :style => 'width:40px; height: 38px; text-align: center;'}
        %button.repage-collection{:type => 'button', :name => 'go_collection_page', :value => 'Go', :class => 'btn btn-primary'}
          Go  
        - if filter&.any? || search_all_filter&.any?
          %input{:type => 'hidden', :name => 'previous_filter', :value => filter.to_json}
          %input{:type => 'hidden', :name => 'previous_search_all_filter', :value => search_all_filter_input_value(search_all_filter)}
          %span.search_results_count{:style => 'margin-left: 15px; float:none;'}
            - if filtered_count < 1
              Search found no results.
            - else
              = "Search found #{filtered_count} record" + (filtered_count == 1 ? '.' : 's.')
          %button.clear_filter_collection_page{:type => 'button', :value => 'Clear Filter', :class => 'btn btn-sm btn-secondary'}
            Clear Filter
  
  - if button_widgets&.any?
    .button_widgets.text-center
      = rendered_buttons
            

  .table-responsive
    %table.table.gb-table.table-bordered.table-hover.table-sm{:id => "table_#{view.view_name}", :name => widget.getter, :class => "#{table_classes.join(' ')}"}
      %thead{:class => 'thead-light'}
        - if !Gui.option(:disable_search_all)
          .filter_inputs
            / %tr.table_search_all_filter_row{:class =>  enable_search_all_filter ? '' : 'd-none'}
            %tr.table_search_all_filter_row
              %td.search_all_table_cell{:colspan => number_of_columns}
                - if enable_search_all_filter
                  %span#search_label.pr-2
                    Search All:
                  %input.search_all_filter{:type => 'input', :name => 'generic_search', :placeholder => 'Enter Search Terms...' , :value => search_all_filter_input_value(search_all_filter)}
                  %a.advanced_search_link{:href => '#'}
                    Switch to Column Filter Search
                - else
                  %span#search_label.pr-2
                    Enter search terms for individual columns...or
                  %input.search_all_filter.disabled_input{:type => 'hidden', :name => 'generic_search', :placeholder => 'Enter Search Terms...' , :value => ''}
                  %a.advanced_search_link{:href => '#'}
                    Switch to 'Search All'
        %tr.table_header_row
          / - edit_header_text = show_possible_assoc ? 'View' : 'Edit'
          - edit_header_text = 'Link'
          %th.filter_toggle_cell{:scope => 'col'}
            - unless Gui.option(:search_all_open) || Gui.option(:advanced_search_open)
              %a{:title => 'Filter', :href => '#show-filter'}
                %span{:class => 'search-icon'}
          - if widget.orderable
            %th{:style => (use_accessibility ? '' : 'display: none;'), :scope => 'col'}
              Position
          - if vertex.navigable?
            - if !has_assoc_class?
              %th.center{:scope => 'col'}
                = edit_header_text
            - else # has_assoc_class? is true
              %th.center{:scope => 'col'}
                = "#{edit_header_text} #{to_class_name}"
              - if !show_possible_assoc
                %th.center
                  = "#{edit_header_text} #{create_link_label(assoc_class)}"
          - columns.each do |w|
            - next if show_possible_assoc && w.association_class_widget?
            %th.is_sortable{:scope => 'col'}
              = w.label
          - if show_multiple_types
            %th.center.is_sortable{:scope => 'col'}
              Type
        %tr.table_filter_row.filter_inputs{:class => show_filter_row ? '' : 'd-none'}
          %td
          - if vertex.navigable?
            %td
            - if has_assoc_class? && !show_possible_assoc
              %td
          - if widget.orderable
            %td{:style => (use_accessibility ? '' : 'display: none;')}
          - columns.each do |w|
            - next if show_possible_assoc && w.association_class_widget?
            %td.filter_cell{:class => "#{'association_class_attribute' if w.association_class_widget?}"}
              %div.filter_input_wrapper
                - # TODO re-enable searching on choices when that actually works again
                - if w.search_filter == :disabled || w.class == Gui::Widgets::Choice || w.multiple
                  %input.filter{:type => 'hidden', :name => filter_input_name(w), :value => filter_input_value(simple_filter, w)}
                - else
                  - if w.class == Gui::Widgets::Choice
                    %select{:name => filter_input_name(w)}
                      %option{:value => ''}
                        \-
                      - choices = dc.all.map(&:value)
                      - choices.each do |choice|
                        - # this might break because of passing w to filter_option_selected
                        %option{:value => choice, :selected => filter_option_selected(simple_filter, w, choice)}
                          =choice
                  - elsif w.is_a?(Gui::Widgets::Boolean)
                    %select.filter{:name => filter_input_name(w)}
                      %option{:value => ''}
                        \-
                      - choices = ['True', 'False']
                      - choices.each do |option|
                        %option{:value => option, :selected => filter_option_selected(simple_filter, w, option)}
                          = option
                  - else
                    %input.filter{:type => 'text', :name => filter_input_name(w), :value => filter_input_value(simple_filter, w)}
                  %div.filter_type{:style => 'display:none;', :value => filter_type(w)}
          - if show_multiple_types
            %td.filter_cell
              %div{:style => 'display:none;'}
              %div.filter_input_wrapper
            
                %select.filter.type_select{:name => 'sub_type'}
                  %option{ :value => ''}
                    \-
                  - concrete_types(parent_obj, widget.getter).each do |type|
                    %option{:value => type.to_s, :selected => filter_option_selected(simple_filter, 'sub_type', type.to_s)}
                      =type.to_s.gsub(/.*::/, '')
                %div.filter_type{:style => 'display:none;', :value => 'sub_type'}
      -# iterate a collection of associated OR unassociated domain objects
      - domain_objs_to_paginate = show_possible_assoc ? unassociated_obj : domain_obj_associations
      %tbody
        - row_objects = paginated_objects(domain_objs_to_paginate, pending_association_additions, pending_association_removals, pending_association_deletions, show_possible_assoc)
        - row_objects.each_with_index do |wrapper, index|
          - obj = wrapper[:to]
          - through = wrapper[:through] if has_join_class?
          - is_associated = wrapper[:associated?]
          - pending_assoc_change = wrapper[:pending_assoc_change] || false
          - pending_deletion = wrapper[:pending_deletion] || false
          %tr.domain_obj_row{:class => domain_obj_row_class(is_associated, pending_assoc_change, pending_deletion, obj, show_possible_assoc)}
            %input.through_identifier{:type => 'hidden', :value => (through ? through.id.to_s : '')}
            %input.through_classifier{:type => 'hidden', :value => (through ? through.class.to_s : '')}
            %input.identifier{:type => 'hidden', :value => (obj ? obj.id.to_s : '')}
            %input.classifier{:type => 'hidden', :value => (obj ? obj.class.to_s : '')}
            - # puts Rainbow('Read only? ').cyan + Gui.read_only?.inspect
            - if vertex.immutable?  || Gui.read_only? # FIXME this needs cucumber tests.  Also, the Gui.read_only? bit is a hack (though it might be semi-permanent...)
              %td
                = ((page_number -1) * page_size + index + 1).to_s
            - else
              %td.checkbox
                - is_deletable_class = (pending_assoc_change  || pending_deletion) ? '' : 'deletable'
                - is_deletable_class << (pending_deletion ? ' undeletable' : '')
                - is_deletable_class << (pending_assoc_change ? ' pending' : '')
                - obj_select_id = "selectDomainObjRowInput#{has_assoc_class? ? domain_obj_to_s(through) : domain_obj_to_s(obj)}#{index}"
                - if selection
                  .custom-control.custom-radio.d-inline-flex
                    %input.custom-control-input.position-static.selection_obj{:id => obj_select_id, :type => 'radio', :name => selection_param_name, :value => domain_obj_to_s(obj)}
                    %label.custom-control-label{:for => obj_select_id}
                - elsif is_associated
                  .custom-control.custom-checkbox.d-inline-flex
                    %input.associated_obj.custom-control-input.position-static{:id => obj_select_id, :class => is_deletable_class, :type => 'checkbox', :name => "#{vertex.pretty_id}[]", :value => has_assoc_class? ? domain_obj_to_s(through) : domain_obj_to_s(obj)}
                    %label.custom-control-label{:for => obj_select_id}
                - else
                  - if use_radio
                    .custom-control.custom-radio.d-inline-flex
                      %input.custom-control-input.position-static{:id => obj_select_id, :class => is_deletable_class, :type => 'radio', :name => "#{vertex.pretty_id}[]", :value => domain_obj_to_s(obj), :disabled => pending_deletion}
                      %label.custom-control-label{:for => obj_select_id}
                  - else
                    .custom-control.custom-checkbox.d-inline-flex
                      %input.custom-control-input.position-static{:id => obj_select_id, :class => is_deletable_class, :type => 'checkbox', :name => "#{vertex.pretty_id}[]", :value => domain_obj_to_s(obj), :disabled => pending_deletion}
                      %label.custom-control-label{:for => obj_select_id}

            -# No point in showing assocation
            - if widget.orderable# && !show_possible_assoc
              %td.position{:style => (use_accessibility ? '' : 'display: none;')}
                - if is_associated
                  - positional_value = (pending_assoc_change || pending_deletion) ? '-' : position_of(through || obj, association_info)
                  - position_name = "#{vertex.pretty_id}_position_for_#{domain_obj_to_s(through || obj)}"
                  %input.position_field{ :type => 'text', :name => position_name, :value => positional_value, :style => 'width: 23px;', :disabled => (pending_assoc_change || pending_deletion)}
            - if vertex.navigable?
              - if !has_assoc_class?
                %td.center{ :width => '30px' }
                  - if pending_assoc_change || pending_deletion
                    n/a              
                  - elsif is_associated
                    - if !vertex.navigable?
                      Restricted
                    - else
                      %a.traversal_link{:href => edit_link_href(obj, object_view_name, object_view_type, parent_obj, widget.getter), :target => obj.html_target, :class => ('save_and_go_link' unless standalone)}
                        - # NOTE: This image is in gui_site...
                        %img{ :src => link_icon, :title => 'Go To Record' }
                  - else
                    - if !vertex.navigable?
                      Restricted
                    - else
                      %a.traversal_link{:href => view_link_href(obj, object_view_name, object_view_type), :class => ('save_and_go_link' unless standalone)}
                        %img{ :src => link_icon, :title => 'Go To Record' }
              - else # has_assoc_class? is true
                %td.center{ :width => '30px' }
                  - if is_associated
                    - if !vertex.navigable?
                      Restricted
                    - elsif obj && !pending_assoc_change && !pending_deletion
                      %a.traversal_link{:href => edit_link_href(obj, object_view_name, object_view_type, parent_obj, widget.getter), :class => ('save_and_go_link' unless standalone)}
                        = "Edit #{create_link_label(obj.class)}"
                    - else
                      n/a
                  - else
                    - if !vertex.navigable?
                      Restricted
                    - else
                      %a.traversal_link{:href => view_link_href(obj, object_view_name, object_view_type), :class => ('save_and_go_link' unless standalone)}
                        = "View #{create_link_label(obj.class)}"
                - if !show_possible_assoc # No point in showing for unassociations
                  %td.center{ :width => '30px' }
                    - if is_associated && !pending_assoc_change  && !pending_deletion
                      - if !vertex.navigable?
                        Restricted
                      - else
                        %a.traversal_link{:href => edit_link_href(through, object_view_name, object_view_type, parent_obj, widget.getter), :class => ('save_and_go_link' unless standalone)}
                          = "Edit #{create_link_label(through.class)}"
                    - else
                      n/a
            - # Finished with Edit link(s)
            - columns.each do |w|
              - next if show_possible_assoc && w.association_class_widget
              %td
                %div.collection_widget_cell{ :class => "widget_#{w.class.name.demodulize.downcase}"  }
                  - if w.class == Gui::Widgets::Choice && obj # it is an enumeration value
                    - # This all has to be backwards compatible since enumeration literals used to be strings and now are instances of the enum type
                    - enum_obj = w.association_class_widget? ? display(w, through) : display(w, obj)
                    - if enum_obj.nil? 
                    - elsif enum_obj.is_a?(Array)
                      = enum_obj.map { |e| e.respond_to?(:value) ? e.value : e }.join(", ")
                    - else
                      = enum_obj.respond_to?(:value) ? enum_obj.value : enum_obj
                  -else
                    = w.association_class_widget? ? display(w, through) : display(w, obj)
            - # Handle Edit link(s)
            - if show_multiple_types
              %td{:style => 'white-space: nowrap;'}
                =  obj.nil? ? 'n/a' : obj.class.to_title
  -# This is the footer of the collection with links and buttons
  - if (!selection || selection_create) && !vertex.immutable?
    .collection-options.mb-2
      - if !selection
        .edit.mr-auto.d-inline
          -# Show the delete/create line if this is representing a composition
          - if has_assoc_class?
            -#TODO Figure out if this input is neccessary for anything -TB
            %input{:type => 'hidden', :name => 'assoc_class_name', :value => assoc_class}
          - if !parent_is_ad_hoc_page? && !is_composition? && !unassociated_only && !standalone && !vertex.immutable?(:disable_addition)
            - show_possible_associations_checkbox_id = "showPossibleAssociations#{vertex.pretty_id}" 
            .custom-control.custom-checkbox.custom-control-inline
              %input.custom-control-input.toggle_view_all_listings{:id => show_possible_associations_checkbox_id, :type => 'checkbox', :checked => show_possible_assoc }
              %label.custom-control-label.toggle_view_all_listings_label{:for => show_possible_associations_checkbox_id}
                Show Possible Associations
            %input.previous_view_all_listings{:type => 'hidden', :value => (show_possible_assoc || false).to_s}
            - if show_possible_assoc && !vertex.immutable?(:disable_addition)
              - add_assoc_button_label = 'Add Association'
              - add_assoc_button_label += 's' unless use_radio
              %button.assoc_submit.btn.btn-primary{:class => (has_assoc_class? ? 'has_assoc_class' : ''), :type => 'submit', :name => "add_assoc_for_#{vertex.pretty_id}", :value => add_assoc_button_label, :disabled => 'disabled'}
                = add_assoc_button_label
            - if !show_possible_assoc && !vertex.immutable?(:disable_removal)
              %button.break_submit{:class => 'btn btn-warning', :type => 'submit', :name => "break_assoc_for_#{vertex.pretty_id}", :value => 'Break Associations', :disabled => 'disabled'}
                Break Associations
          - if association_info[:subset_of].nil? && !vertex.immutable?(:disable_deletion) && !vertex.immutable?(:disable_removal)
            %button.delete_selected{:class => 'btn btn-danger', :type => 'button', :value => 'Delete', :name => "delete_#{vertex.pretty_id}", :disabled => 'disabled'}
              Delete
 
      .creation{:class => 'dropdown float-right'}
        - if association_info[:subset_of].nil? && !vertex.immutable?(:disable_creation) && !vertex.immutable?(:disable_addition)
          - creation_button_id = "#{widget.getter}CreationDropdownButton"
          %button.drop-down-toggle-button{:class => 'btn btn-primary dropdown-toggle', :type => 'button', :id => creation_button_id, 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false}
            = (standalone ? '' : 'Save & ') + "Create New #{to_class_name}"
          %div{:class => 'dropdown-menu dropdown-menu-right', 'aria-labelledby' => creation_button_id}
            - constructors = create_constructable_list(parent_obj, widget.getter, view.data_classifier, assoc_class)
            - constructors.each do |constructor_hash|
              - constructor_hash.each do |constructor_key, constructor_values|
                %a.traversal_link.text-capitalize.assoc_create_link.dropdown-item{:href => create_constructor_link_href(constructor_key, constructor_values, object_view_name, object_view_type, parent_obj, widget.getter), :name => constructor_values[:name], :class => ('save_and_go_link' unless standalone)}
                  = create_constructor_link_label(constructor_values)
