- if !vertex.hidden?
  %div.widget.simple_widget.button{:id => "#{vertex.pretty_id}_widget"}
    %input.widget_type{:type => 'hidden', :value => 'button'}
    %input.widget_getter{:type => 'hidden', :value => widget.getter}
    %input.display_result{:type => 'hidden', :value => widget.display_result}
    %button.collection_button{:value => widget.button_text || widget.label, :id => "#{vertex.pretty_id}_collection_button_#{widget.getter}", :onclick => "return doCollectionButton(this);"}
      = "#{widget.button_text || widget.label}"