- context_classes = []
- context_classes << 'root' if vertex.gui_root
- context_classes << 'mutable' if !vertex.immutable?
- context_classes << (expanded? || ajax_request || vertex.gui_root ? 'expanded' : 'collapsed')
- context_classes << vertex.classes
.context.view_widget.widget.d-inline{:id => "#{vertex.pretty_id}_widget", :class => context_classes.join(' ')}><
  %input.widget_type{:type => 'hidden', :value => 'context'}
  %input.widget_getter{:type => 'hidden', :value => widget.getter}
  %input.pretty_id{:type => 'hidden', :value => vertex.pretty_id}
  %input.view_name{:type => 'hidden', :value => view_name}
  %input.data_classifier{:type => 'hidden', :value => data_classifier}
  %input.data_id{:type => 'hidden', :value => data_id}
  %input.data_getter{:type => 'hidden', :value => widget.getter}
  %input.view_type{:type => 'hidden', :value => view_type}
  %input.identifier{:type => 'hidden', :value => data_id}
  %input.classifier{:type => 'hidden', :value => (domain_obj ? domain_obj.class.to_s : '')}
  - tag, css_style = context_tag_and_css_style
  - label_tag, label_css_style = context_label_tag_and_css_style
  - if domain_obj && Gui.option(:mode) == :dev
    - id = domain_id_for(domain_obj)
    - if id.is_a?(Integer) 
      %a.dev_assoc_link{:style => "display:none", :href => '/' + domain_obj.class.name.gsub('::', '/') + '/' + domain_id_for(domain_obj).to_s, :target => "_blank"}
        Edit #{domain_obj.class.name}#{domain_id_for(domain_obj)} &nbsp;
  .context_header.view_header{:class => widget.label ? '' : 'd-none'}><
    - haml_tag(label_tag, :class => 'view_label widget_label', :style => label_css_style) do
      = widget.label
  - css_style = css_style << 'display:none' if vertex.classes.include?('start_collapsed')
  - html_tag_classes = []
  - html_tag_classes << 'context_content'
  - html_tag_classes << 'view_content'
  - haml_tag(tag, :class => html_tag_classes.join(' '), :style => css_style) do
    = yield if block_given?