- # TODO speed things up by going through all the haml and setting up local variables for things that are called over and over again...like the next two lines already demonstrate
- pretty_widget_name = pretty_name
- vertex_pretty_id   = vertex.pretty_id
- if !vertex.hidden?
  %div.widget.simple_widget.file.form-row.align-items-center.form-group{:id => "#{vertex_pretty_id}_widget", :title => widget.hover, :class => !vertex.immutable? ? 'mutable' : ''}
    -#%input.last_update{  :type => 'hidden', :value => last_update, :name => pretty_widget_name + '_last_update', }
    %input.widget_type{  :type => 'hidden', :value => 'file'}
    %input.widget_getter{:type => 'hidden', :value => widget.getter}
    %input.widget_name{  :type => 'hidden', :value => pretty_widget_name}
    - if widget.association_class_widget
      %input.association_class_widget{:type => 'hidden', :value => 'y'}
    -#TODO: don't use widget_info. too hard to debug
    -#%input.widget_info{  :type => 'hidden', :value => '', :name => pretty_widget_name + '_restore_attrib', :data_name => 'restore'}
    - pv = previous_value
    - previous_filename = (pv['filename'] && pv['filename'][:filename]) || pv['previous_filename'] if pv['filename'] || pv['previous_filename']
    -#This is kind of clunky but it allows for a label in front of the custom file widget
    %label.widget_label.col-md-2.font-weight-bold.col-form-label{:for => vertex_pretty_id}
      = widget.label
    - if widget.help_html
      -# Note:  Not sure if allowing html opens up to xss attacks.  It probably doesn't since it doesn't originally come from a user but I'm not sure -TB
      -# Also this should be a render partial call but it doesn't work since this isn't a ramaze controller and that method would have to be made in the html gui builder controllers
      %button.btn.btn-sm.btn-info.help-info-button.ml-1{:type => 'button', 'data-toggle' => 'popover', :title => "#{widget.label} Help", 'data-html' => 'true', 'data-content' => widget.help_html}
        ?
    - if !vertex.immutable?
      .custom-file.col-md-2
        -# There is a good chance that some of this previous_value['filename'] || previous_value['previous_filename'] stuff could be refactored/improved but this is working now and I need to move on.  TODO: Clean this up.
        -# The only reason that this next input is here is because of the crazy way that concurrency.js tries to replace values when a merge happens.  The value MUST BE nil!  
        %input.widget_initial_data{:type => 'hidden', :name => pretty_widget_name + '_last_update_initial', :data_name => 'last_update', :value => effective_last_update}
        %input.widget_initial_data{:type => 'hidden', :name => pretty_widget_name + '_filename_initial', :data_name => 'filename', :value => initial_filename}
        %input.widget_data{:type => 'hidden', :name => pretty_widget_name + '_last_update', :value => nil, :data_name => 'last_update'}
        %input.widget_data.custom-file-input{:type => 'file', :name => pretty_widget_name + '_filename', :disabled => vertex.immutable?, :id => vertex_pretty_id, :data_name => 'filename'}
        %label.custom-file-label{:for => vertex_pretty_id}
          = previous_filename ? "#{previous_filename}" : ''
      -# 1 Col Cell worth of spacing
      .col-md-1
    - if previous_filename
      - previous_type = (pv['filename'] && pv['filename'][:type]) || pv['previous_mime_type']
      .stored_file.col-md-4
        %span.stored_filename
          = "To Be Stored: #{previous_filename}"
      %input.widget_data{:type => 'hidden', :name => pretty_widget_name + '_previous_filename', :value => previous_filename, :data_name => 'previous_filename'}
      %input.widget_data{:type => 'hidden', :name => pretty_widget_name + '_previous_mime_type', :value => previous_type, :data_name => 'previous_mime_type'}
        -# kludge to keep the starting filename on the page across continued edits. Not used on server, for display only.
        -# %input{:type => 'hidden', :name => pretty_widget_name + '_filename_at_page_load', :value => (previous_value['filename_at_page_load'] || domain_obj.filename)}
    - elsif domain_obj
      .stored_file.col-md-4
        %span.stored_filename
          = "Stored File: #{domain_obj.filename}"
        %a{:class => 'btn btn-sm btn-secondary', :href => absolute_download_link(parent_obj, relative_download_link)}
          Download
        - unless vertex.immutable?
          - raise if previous_value['delete']
          .btn-group-toggle.d-inline{'data-toggle' => 'buttons'}
            %label.delete_label.mb-0{:class => 'btn btn-sm btn-danger', :role => 'button', :for => vertex_pretty_id + '_delete_attrib'}     
              %input.attribute_delete_checkbox{:type => 'checkbox', :name => vertex_pretty_id + '_delete_attrib', :data_name => 'delete', :checked => previous_value['delete'], :autocomplete => 'off'}
              Delete
    - else
      .no_stored_file.col-md-4
        No Stored File
