- if !vertex.hidden?
  - classes = ['float']
  - classes << 'mutable' if !vertex.immutable?
  %div.widget.simple_widget.numeric{:id => "#{vertex.pretty_id}_widget", :class => classes.join(' ')}
    %input.widget_type{:type => 'hidden', :value => 'float'}
    %input.widget_getter{:type => 'hidden', :value => widget.getter}
    %input.widget_name{:type => 'hidden', :value => pretty_name}
    - if widget.association_class_widget
      %input.association_class_widget{:type => 'hidden', :value => 'y'}
    %label.widget_label.main_input.font-weight-bold{:for => vertex.pretty_id}
      = widget.label
    - if !vertex.immutable?
      %input.widget_data{:type => 'hidden', :name => pretty_name, :value => field_value, :initial_value => initial_field_value, :id => vertex.pretty_id, "data-storage"=> widget.save_form_field_draft ? "true" : "false"}
      .slider_container
        .number_slider{:data => {:initial_value => field_value, :min => widget.min_value, :max => widget.max_value, :step => widget.step_increment}}
          .number_slider_handle.ui-slider-handle
    - else
      = field_value