.widget.simple_widget.html{:title => widget.hover}
  %input.widget_type{:type => 'hidden', :value => 'html'}
  -# TODO: when methods_to_sub_for_defs is working with params, use the following:
  -# = widget.literal_html(domain_obj)
  - html = widget.html
  = html.is_a?(Proc) ? html.call(domain_obj, parent_obj) : html