- if !vertex.hidden?
  %div.widget.simple_widget.image{:id => "#{vertex.pretty_id}_widget", :title => widget.hover, :class => !vertex.immutable? ? 'mutable' : ''}
    %input.widget_type{:type => 'hidden', :value => 'image'}
    %input.source_type{:type => 'hidden', :value => widget.source_type}
    %input.widget_getter{:type => 'hidden', :value => widget.getter}
    %input.widget_name{:type => 'hidden', :value => pretty_name}
    /TODO: don't use widget_info. too hard to debug
    %input.widget_info{:type => 'hidden', :name => pretty_name + '_restore_attrib', :data_name => 'restore', :value => ''}
    .input.file_widget_input
      - if widget.source_type == :url
        %img{:src => widget.url, :width => widget.width, :height => widget.height}
      - elsif widget.source_type == :getter && image_is_displayable?(parent_obj, widget.getter)
        / TODO: Add ability to add/change image. Fix broken image link when image isn't present
        %img{:src => absolute_image_link(parent_obj, relative_image_link), :width => widget.width, :height => widget.height}
        