- if !vertex.hidden?
  %div.widget.simple_widget.link{:id => "#{vertex.pretty_id}_widget", :title => widget.hover}
    %input.widget_type{:type => 'hidden', :value => 'link'}
    %a.save_and_go_link{ :href => view_link_href(parent_obj, widget.view_name), :id => vertex.pretty_id }
      = widget.label == "" ? "More Information" : widget.label
