- if !vertex.hidden?
  %div.widget.simple_widget.message{:id => "#{vertex.pretty_id}_widget", :title => widget.hover}
    %input.widget_type{:type => 'hidden', :value => 'message'}
    %input.widget_getter{:type => 'hidden', :value => widget.getter}
    %input.widget_name{:type => 'hidden', :value => pretty_name}
    = field_value