- if !vertex.hidden?
  - # puts Rainbow("#{vertex.pretty_id} is disabled? #{vertex.immutable?}.  How about the #{widget.class.name.demodulize}? #{widget.disabled?}").magenta
  - organizer_widget_classes = []
  - organizer_widget_classes << 'root' if vertex.gui_root
  - do_root_load_hooks if vertex.gui_root
  - is_collapsed = !(expanded? || ajax_request || vertex.gui_root)
  - organizer_widget_classes << 'mutable' if !vertex.immutable?
  - organizer_widget_classes << (expanded? || ajax_request || vertex.gui_root ? 'expanded' : 'collapsed') 
  -# TODO: replace use of .organizer_header.composition and ...composer with these classes -SD
  - organizer_widget_classes << 'composition'        if is_composition?
  - organizer_widget_classes << 'composer'           if is_composer?
  - organizer_widget_classes << 'disabled'           if vertex.immutable?
  - organizer_widget_classes << 'creation_disabled'  if vertex.immutable?(:disable_creation)
  - organizer_widget_classes << 'deletion_disabled'  if vertex.immutable?(:disable_deletion)
  - organizer_widget_classes << 'removal_disabled'   if vertex.immutable?(:disable_removal)
  - organizer_widget_classes << 'addition_disabled'  if vertex.immutable?(:disable_addition)
  - organizer_widget_classes << 'traversal_disabled' if vertex.immutable?(:disable_traversal)
  - organizer_widget_classes << 'list-group-item' if !vertex.gui_root
  - organizer_widget_classes << 'card'
  .organizer.view_widget.table_widget.widget{:id => "#{vertex.pretty_id}_widget", :class => organizer_widget_classes.join(' ')}
    - raise Rainbow("Unexpected widget type in Organizer template -- #{widget.view.class}").orange unless widget.view.class == Gui::Widgets::Organizer
    %input.widget_type{    :type => 'hidden', :value => 'organizer'}
    %input.widget_getter{  :type => 'hidden', :value => widget.getter}
    %input.pretty_id{      :type => 'hidden', :value => vertex.pretty_id}
    %input.view_name{      :type => 'hidden', :value => view_name}
    %input.data_classifier{:type => 'hidden', :value => data_classifier}
    - if through_obj
      %input.through_classifier{:type => 'hidden', :value => through_obj.class}
      %input.through_id{:type => 'hidden', :value => through_obj.id}
    %input.data_id{        :type => 'hidden', :value => data_id}
    %input.data_getter{    :type => 'hidden', :value => widget.getter}
    %input.view_type{      :type => 'hidden', :value => view_type}
    %input.identifier{:type => 'hidden', :value => (domain_obj ? domain_obj.id.to_s : '')}
    %input.classifier{:type => 'hidden', :value => (domain_obj ? domain_obj.class.to_s : '')}
    - organizer_header_classes = []
    - organizer_header_classes << 'd-none' if vertex.hidden? || vertex.gui_root
    - organizer_content_id = "#{vertex.pretty_id}OrganizerContent"
    - if Gui.option(:color_coding)
      - organizer_header_classes << 'composer' if is_composer?
      - organizer_header_classes << 'composition' if is_composition?
      - organizer_header_classes << 'collapsed' if is_collapsed
      - organizer_header_classes << (vertex.gui_root ? 'd-none' : 'd-flex')
      -# if this is the vertex root it shouldnt even be on the page but the stupid tests need a view label -TB
    .organizer_header.view_header{ :class => organizer_header_classes.join(' '), 'data-toggle' => 'collapse', 'data-target' => "##{organizer_content_id}", 'aria-expanded' => is_collapsed ? 'false' : 'true', 'aria-controls' => organizer_content_id }
      %span{:class => 'arrow-icon'}
      %span.view_label.widget_label.mr-2.font-weight-bold
        = widget.label
      %span.unsaved_changes_message.text-danger.d-none
        Unsaved Changes
      - # TODO: see if style here was needed after all
      - # %span.entry_count{ :style => (vertex.gui_root || ajax_request) || vertex.hidden? ? 'display:none' : '' }
      %span.entry_count.ml-auto
        - if domain_obj
          Present
        - else # Note that this will only happen for compositions which for some reason use an organizer instead of an empty collection when not assigned.
          None
          
          
    .organizer_content.view_content.content_data.p-1{:id => organizer_content_id, :class => is_collapsed ? 'collapse' : ''}
      - if domain_obj
        - # TODO: get rid of form here.
        - # TODO: merge multiple occurrences of '= yield' # Why?
        - puts Rainbow("#{domain_obj.class} is an #{ORM_Class}? #{domain_obj.kind_of?(ORM_Class)}").cyan
        - if (vertex.gui_root && domain_obj.kind_of?(ORM_Class)) || ajax_request
          - if Gui.option(:workflow_options)[:advance_from_object_pages]
            .workflow_error_message.h2.text-danger
              = Ramaze::Current.session.flash[:workflow_error_message]
          .content_title.display-4.text-center
            -  unless vertex.domain_obj.class < Gui::AdHocPageObject
              = domain_obj.to_title
          %form.organizer_form.view_form{:id => (vertex.gui_root ? 'root_view_form' : nil), :method => 'POST', :enctype => 'multipart/form-data', :class => Gui.option(:enabled_form_draft_saving) ? 'garlic_form' : ''}
            - # Whether we should close on save_and_leave (only if window name is 'perform task')
            %input#close_on_save_and_leave{:type => 'hidden', :name => 'close_on_save_and_leave', :value => close_on_save_and_leave? ? 'true' : 'false'}
            .breadcrumbs
              - raise "No breadcrumbs defined!" unless breadcrumbs
              - breadcrumbs.each_with_index do |node, position|
                %input{ :type => 'hidden', :name => "breadcrumb-#{position}", :value => node.to_url.web_escape(:cgi)}
            = yield if block_given?
            - unless vertex.immutable? || Gui.read_only? # FIXME this needs cucumber tests.  Also, the Gui.read_only? bit is a hack (though it might be semi-permanent...)
              .text-center.mb-3.mt-2.bottom-save-button-container
                .btn-group{:role => 'group', 'aria-label' => 'Submission Buttons'}
                  %button#discard_and_stay.submission_button.mr-2{:class => 'btn btn-danger', :type => 'button', :name => 'discard_and_stay', 'data-target' => '#discardChangesModal', 'data-toggle' => 'modal'}
                    Discard Changes
                  %button#save_and_leave.submission_button.mr-2{:class => 'btn btn-primary', :type => 'submit', :name => 'save_and_leave'}
                    Save and Leave
                  %button#save_and_stay.submission_button.mr-2{:class => 'btn btn-primary', :type => 'submit', :name => 'save_and_stay'}
                    Save
                  - if assoc_obj && !to_one
                    %button.submission_button.mr-2{:class => 'btn btn-primary', :type => 'submit', :name => 'save_and_continue', :value => 'Save and Create Another'}
                      Save and Create Another
                    - if Ramaze::Current.session.flash[:creation]
                      %input{:type => 'hidden', :name => 'is_creation', :value => 'true'}
                  - if Gui.option(:workflow_options)[:advance_from_object_pages] && Gui.option(:workflow_options)[:workflow_classes].include?(domain_obj.class.to_s)
                    %button#advance_workflow_button.submission_button{:class => 'btn btn-primary', :type => 'submit', :name => 'advance_workflow', :value => 'Advance Workflow'}
                      Advance Workflow
        - else
          .content_title.display-4.text-center
            - unless vertex.gui_root
              = domain_obj.to_title
          = yield if block_given?
          - unless domain_obj.class < Gui::AdHocPageObject
            - if is_composition? && !vertex.immutable?(:disable_deletion)
              %input.deletable{:type => 'hidden', :name => "ViewRef_#{vertex.pretty_id}[]", :value => "#{domain_obj.class.name}___#{domain_obj.pk}" }
              %button.delete_selected{:class => 'btn btn-danger', :type => 'submit', :value => 'Delete', :name => "delete_ViewRef_#{vertex.pretty_id}"}
                Delete
            - elsif !is_composition? && !vertex.immutable?(:disable_removal)
              - # Mimics checking a single item in a collection. Removing it would require handling the breaking of associations from collections and organizers differently
              %input.deletable{:type => 'hidden', :name => "#{vertex.pretty_id}[]", :value => "#{domain_obj.class.name}___#{domain_obj.pk}" }
              - if !vertex.immutable?(:disable_removal)
                %button.break_submit{:class => 'btn btn-primary', :type => 'submit', :id => "ba_#{widget.getter}", :name => "break_assoc_for_#{vertex.pretty_id}", :value => 'Break Association'}
                  Break Association
            - if vertex.navigable?
              %a.traversal_link{:href => edit_link_href(domain_obj, object_view_name, object_view_type, parent_obj, widget.getter), :class => ('save_and_go_link' unless standalone)}
                More Information
      
      - else # domain_obj is nil. This happens if it is an inner organizer for a to-one assoc that is unassociated.
        - if !(vertex.gui_root || ajax_request) && !vertex.immutable?(:disable_creation)
          - creatable_classes = create_class_list(parent_obj, widget.getter, view.data_classifier, assoc_class)
          - if creatable_classes.any?
            .row.justify-content-end
              .creation{:class => 'dropdown'}
                - creation_button_id = "#{widget.getter}CreationDropdownButton"
                %button.drop-down-toggle-button{:class => 'btn btn-primary dropdown-toggle', :id => creation_button_id, :type => 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false}
                  = (standalone ? '' : 'Save & ') + "Create New #{to_class_name}"
                .dropdown-menu.dropdown-menu-right{'aria-labelledby' => creation_button_id}
                  - creatable_classes.each do |klass|
                    %a.traversal_link.dropdown-item{:href => create_link_href(klass, object_view_name, object_view_type, parent_obj, widget.getter), :class => ('save_and_go_link' unless standalone)}
                      = create_link_label(klass)
    
    
    
    - # Move to haml template. also used in collection haml exactly
    .collection_content.view_content
      - if parent_obj.respond_to?(:pending_association_additions)
        -# These stored_assocs hold the values to change the associations server side on page submits
        -# Used to store the original class and id if it gets listed as a pending removal
        .original_object_class_and_id
        -# Used by gui_director to store calculate the pending associations on page load
        .pending_association_additions
          - pending_association_additions.each do |addition|
            .pending_association_addition
              %input.identifier{:type => 'hidden', :value => addition['identifier']}
              %input.classifier{:type => 'hidden', :value => addition['classifier']}
              %input.through_identifier{:type => 'hidden', :value => addition['through_identifier']}
              %input.through_classifier{:type => 'hidden', :value => addition['through_classifier']}
              - if addition['skip_association']
                %input.skip_association{:type => 'hidden', :value => addition['skip_association']}
        .pending_association_removals
          - pending_association_removals.each do |removal|
            .pending_association_removal
              %input.identifier{:type => 'hidden', :value => removal['identifier']}
              %input.classifier{:type => 'hidden', :value => removal['classifier']}
              %input.through_identifier{:type => 'hidden', :value => removal['through_identifier']}
              %input.through_classifier{:type => 'hidden', :value => removal['through_classifier']}
        .pending_association_deletions
          - pending_association_deletions.each do |deletion|
            .pending_association_deletion
              %input.identifier{:type => 'hidden', :value => deletion['identifier']}
              %input.classifier{:type => 'hidden', :value => deletion['classifier']}
              %input.through_identifier{:type => 'hidden', :value => deletion['through_identifier']}
              %input.through_classifier{:type => 'hidden', :value => deletion['through_classifier']}
      .content_loading_image
