- if !vertex.hidden?
  - collapsed = (!parent_obj.new? || widget.always_collapsed) && !widget.expanded
  %div.widget.simple_widget.text.form-group.bootstrap-tooltip{:id => "#{vertex.pretty_id}_widget", :title => widget.hover, :class => !vertex.immutable? ? "mutable widget-#{language_value.downcase}" : "widget-#{language_value.downcase}", 'data-toggle' => 'tooltip', 'data-placement' => 'top'}
    %input.widget_type{:type => 'hidden', :value => 'text'}
    %input.widget_getter{:type => 'hidden', :name => 'widget_getter', :value => widget.getter}
    %input.pretty_id{:type => 'hidden', :name => pretty_name, :value => vertex.pretty_id}
    %input.widget_name{:type => 'hidden', :value => pretty_name}
    - if widget.association_class_widget
      %input.association_class_widget{:type => 'hidden', :value => 'y'}
    %label.widget_label.font-weight-bold{:for => vertex.pretty_id}
      = widget.label
    - if collapsed && !vertex.immutable?
      %a.widget_toggle_link{:class => 'btn btn-secondary btn-sm', :href => '#' }
        = 'Edit'
    .pretty_view.form-text{:class => (collapsed ? '' : 'd-none')}
      - fixed_image_link_content_value = fix_relative_markdown_links(content_value, parent_obj, widget.getter)
      - case language_value
      - when 'Markdown'
        :markdown
          #{fixed_image_link_content_value}
      - when 'Textile'
        - # This will probably break because we aren't requiring Redcloth by default anymore.
        #{RedCloth.new(content_value).to_html}
      - when 'Kramdown'
        -# Fixes a bug in kramdown that doesn't remove whitespace from rendered html tags in all cases
        :preserve
          #{Kramdown::Document.new(fixed_image_link_content_value).to_html}
      - when 'HTML'
        #{content_value}
      - else
        = content_value.web_escape

    - if !vertex.immutable?
      .d-flex.justify-content-center.align-items-center
        .editable_view{:class => !collapsed ? '' : 'd-none'}
          %select.widget_data.language_selector.float-right{:class => widget.show_language_selection ? '' : 'd-none', :name => pretty_name + '_language', :id => vertex.pretty_id + '_language', :disabled => vertex.immutable?, :data_name => 'markup_language', :initial_value => initial_language_value, 'data-storage' => 'false'}
            %option{ :value => '', :selected => [nil, ''].include?(language_value)}
            - raise 'No specified options for language!' unless widget.languages
            - widget.languages.each do |language_option|
              %option{ :value => language_option, :selected => (language_value == language_option) }
                = language_option.to_s
          = find_and_preserve do
            %textarea.widget_data.editor.form-control{:class => "text-#{language_value.downcase}", :name => pretty_name + '_content', :id => vertex.pretty_id, :disabled => vertex.immutable?, :data_name => 'content', 'data-storage' => widget.save_form_field_draft ? 'true' : 'false'}
              = content_value.web_escape
            %textarea.d-none.widget_initial_data{:name => pretty_name + '_content_initial', :data_name => 'content'}
              = initial_content_value.web_escape
          - if language_value == 'Markdown'
            %small{:id => 'markdownHelp', :class => 'form-text text-muted'}
              Tip: To force a line break, insert two spaces at the end of the line.
      -# Marker to insert file uploads into
      .image_uploads
