- if !vertex.hidden?
  %div.widget.simple_widget.string.form-group{:id => "#{vertex.pretty_id}_widget", :class => !vertex.immutable? ? 'mutable' : ''}
    %input.widget_type{:type => 'hidden', :value => 'string'}
    %input.widget_getter{:type => 'hidden', :value => widget.getter}
    %input.multiple{:type => 'hidden', :value => widget.multiple ? 'true' : ''}
    %input.widget_name{:type => 'hidden', :value => pretty_name}
    - if widget.association_class_widget
      %input.association_class_widget{:type => 'hidden', :value => 'y'}
    %label.widget_label.font-weight-bold{:for => vertex.pretty_id}
      = widget.label
    - if widget.help_html
      -# Note:  Not sure if allowing html opens up to xss attacks.  It probably doesn't since it doesn't originally come from a user but I'm not sure -TB
      -# Also this should be a render partial call but it doesn't work since this isn't a ramaze controller and that method would have to be made in the html gui builder controllers
      %button.btn.btn-sm.btn-info.help-info-button.ml-1{:type => 'button', 'data-toggle' => 'popover', :title => "#{widget.label} Help", 'data-html' => 'true', 'data-content' => widget.help_html}
        ?
    %input.form-control.bootstrap-tooltip{:class => (!vertex.immutable? ? 'widget_data' : '' ), :type => 'text', :name => pretty_name, :value => field_value.to_s, :id => vertex.pretty_id, :required => widget.required_html, :pattern => widget.regex_pattern, :title => widget.hover, :placeholder => widget.placeholder_text, :autofocus => widget.auto_focus, 'data-storage' => widget.save_form_field_draft ? 'true' : 'false', :readonly => vertex.immutable?, :disabled => vertex.immutable?, 'data-toggle' => 'tooltip', 'data-placement' => 'top'}
    - if !vertex.immutable?
      %input.widget_initial_data{:type => 'hidden', :name => pretty_name + '_initial', :value => initial_field_value.to_s}