- if !vertex.hidden?
  - classes = ['time']
  - classes << 'mutable' if !vertex.immutable?
  %div.widget.simple_widget.timestamp.form-group{:id => "#{vertex.pretty_id}_widget", :class => classes.join(' ')}
    %input.widget_type{:type => 'hidden', :value => 'time'}
    %input.widget_getter{:type => 'hidden', :value => widget.getter}
    %input.widget_name{:type => 'hidden', :value => pretty_name}
    - if widget.association_class_widget
      %input.association_class_widget{:type => 'hidden', :value => 'y'}
    %label.widget_label.font-weight-bold{:for => vertex.pretty_id}
      = widget.label
    - if widget.help_html
      -# Note:  Not sure if allowing html opens up to xss attacks.  It probably doesn't since it doesn't originally come from a user but I'm not sure -TB
      -# Also this should be a render partial call but it doesn't work since this isn't a ramaze controller and that method would have to be made in the html gui builder controllers
      %button.btn.btn-sm.btn-info.help-info-button.ml-1{:type => 'button', 'data-toggle' => 'popover', :title => "#{widget.label} Help", 'data-html' => 'true', 'data-content' => widget.help_html}
        ?
    - displayed_value = format_value(field_value)
    %input.form-control.bootstrap-tooltip{:class => (!vertex.immutable? ? 'widget_data' : '' ), :type => 'text', :name => pretty_name, :value => displayed_value, :initial_value => displayed_value, :id => vertex.pretty_id, :readonly => vertex.immutable?, :disabled => vertex.immutable?, :title => widget.hover, 'data-toggle' => 'tooltip', 'data-placement' => 'top'}