- found_field_value = data[:value][:current_value]
- my_field_value    = data[:value][:new_value]
%tr.content_row{:id => vertex.pretty_id + 'concurrency_row', :data_pretty_name => pretty_name, :for => data[:label]}
  %th{:scope => 'row'}
    %label.widget_label.main_input{:for => vertex.pretty_id, :value => data[:label]}
      = "#{data[:label]}:"
  %td.changes_selector{:for => 'my_changes'}
    %input.concurrency_selector{:type => 'radio', :name => pretty_name + '_radio_selector', :checked => true}
  %td.my_changes{:for => 'my_changes'}
    %div.widget.simple_widget.choice.boolean{:id => "#{vertex.pretty_id}_widget", :title => data[:hover], :class => !vertex.immutable? ? 'mutable' : ''}
      %input.widget_data.form-control{:readonly => true, :name => pretty_name, :value => my_field_value.to_s, :disabled => vertex.immutable?}
  %td.changes_selector{:for => 'changes_found'}
    %input.concurrency_selector{:type => 'radio', :name => pretty_name + '_radio_selector', :checked => false}
  %td.changes_found{:for => 'changes_found'}
    %div.widget.simple_widget.choice.boolean{:id => "#{vertex.pretty_id}_widget", :title => data[:hover], :class => !vertex.immutable? ? 'mutable' : ''}
      %input.widget_data.form-control{:readonly => true, :name => pretty_name, :value => found_field_value.to_s, :disabled => vertex.immutable?}