- found_field_value = data[:value][:current_value]
- my_field_value    = data[:value][:new_value]
%tr.content_row{:id => vertex.pretty_id + 'concurrency_row', :data_pretty_name => pretty_name, :for => data[:label]}
  %th{:scope => 'row'}
    %label.widget_label.main_input{:for => vertex.pretty_id, :value => data[:label]}
      = "#{data[:label]}:"
  %td.changes_selector{:for => 'my_changes'}
    %input.concurrency_selector{:type => 'radio', :name => pretty_name + '_radio_selector', :checked => true}
  %td.my_changes{:for => 'my_changes'}
    %div.widget.simple_widget.choice{:id => "#{vertex.pretty_id}_widget", :title => data[:hover], :class => !vertex.immutable? ? 'mutable' : ''}
      -# Should be an array in value if is multiple. Need to test this out
      - if vertex.widget.multiple
        -# May need to update JS to work with multiple options for selects
        %select.widget_data.form-control{:readonly => true, :name => pretty_name + '[]', :id => vertex.pretty_id, :multiple => 'multiple', :disabled => vertex.immutable?}
          - my_field_value.each do |value|
            %option{:readonly => true, :disabled => vertex.immutable?, :value => value, :selected => true}
      - else
        %input.widget_data.form-control{:readonly => true, :name => pretty_name, :disabled => vertex.immutable?, :value => my_field_value, :type => 'text'}
  %td.changes_selector{:for => 'changes_found'}
    %input.concurrency_selector{:type => 'radio', :name => pretty_name + '_radio_selector', :checked => false}
  %td.changes_found{:for => 'changes_found'}
    %div.widget.simple_widget.choice{:id => "#{vertex.pretty_id}_widget", :title => data[:hover], :class => !vertex.immutable? ? 'mutable' : ''}
      - if vertex.widget.multiple
        %select.widget_data{:readonly => true, :name => pretty_name + '[]', :id => vertex.pretty_id, :multiple => 'multiple', :disabled => vertex.immutable?}
          - found_field_value.each do |value|
            %option{:readonly => true, :disabled => vertex.immutable?, :value => value, :selected => true}
      - else
        %input.widget_data.form-control{:readonly => true, :name => pretty_name, :disabled => vertex.immutable?, :value => found_field_value, :type => 'text'}