-# Is this deprecated? Is currently unused, and therefor untested
- content_exists  = !data[:content].nil?
- language_exists = !data[:language].nil?

- if content_exists
  - content_found_field_value  = data[:content][:current_value]
  - content_my_field_value     = data[:content][:new_value]
- if language_exists
  - language_found_field_value = data[:language][:current_value]
  - language_my_field_value    = data[:language][:new_value]


%tr.content_row{:id => vertex.pretty_id + 'concurrency_row', :data_pretty_name => pretty_name, :for => data[:label]}
  %td.label
    %label.widget_label.main_input{:for => vertex.pretty_id, :value => data[:label]}
      = data[:label]
  %td.changes_selector{:for => 'my_changes'}
    %input.concurrency_selector{:type => 'radio', :name => pretty_name + '_radio_selector', :checked => true}
  %td.my_changes{:for => 'my_changes'}
    %div.widget.simple_widget.code{:id => "#{vertex.pretty_id}_widget", :title => data[:hover], :class => !vertex.immutable? ? 'mutable' : ''}
      %span.widget_row_form_element
        - if content_exists
          = find_and_preserve do
            %textarea.editor.widget_data{:name => pretty_name + '_content', :disabled => vertex.immutable?}
              = content_my_field_value
        - if language_exists
          %select.center{:name => pretty_name + '_language', :disabled => vertex.immutable?}
            - language_my_field_value.each do |value|
              %option{:readonly => true, :disabled => vertex.immutable?, :value => value, :selected => true}
  %td.changes_selector{:for => 'changes_found'}
    %input.concurrency_selector{:type => 'radio', :name => pretty_name + '_radio_selector', :checked => false}
  %td.changes_found{:for => 'changes_found'}
    %div.widget.simple_widget.code{:id => "#{vertex.pretty_id}_widget", :title => data[:hover], :class => !vertex.immutable? ? 'mutable' : ''}
      %span.widget_row_form_element
        - if content_exists
          = find_and_preserve do
            %textarea.editor.widget_data{:name => pretty_name + '_content', :disabled => vertex.immutable?}
              = content_found_field_value
        - if language_exists
          %select.center{:name => pretty_name + '_language', :disabled => vertex.immutable?}
            - language_found_field_value.each do |value|
              %option{:readonly => true, :disabled => vertex.immutable?, :value => value, :selected => true}