- deleted_count = 0
- broken_count  = 0
- action        = data[:action].gsub(/_+/, ' ')
- data_label    = data[:label]
- data[:collection].each do |key, value|
    - deleted_count = deleted_count + 1 if value[:error] == 'deleted'
    - broken_count  = broken_count  + 1 if value[:error] == 'assoc_broken'

%tr.content_row{:id => vertex.pretty_id + 'concurrency_row', :data_pretty_name => pretty_name, :for => data_label}
  %td.label
    %label.widget_label.main_input{:for => vertex.pretty_id, :value => data_label}
      = data_label
  %td.changes_selector{:for => 'my_changes'}
    %input.concurrency_selector{:disabled => true, :type => 'radio', :name => pretty_name + '_radio_selector', :checked => false}
  %td.my_changes{:for => 'my_changes'}
    = "Warning: Associations for '#{label}'' have been modified while #{action}."
  %td.changes_selector{:for => 'changes_found'}
    %input.concurrency_selector{:disabled => true, :type => 'radio', :name => pretty_name + '_radio_selector', :checked => false}
  %td.changes_found{:for => 'changes_found'}
    - if deleted_count != 0
      = "Deleted association count: #{deleted_count}"
    - if broken_count != 0
      = "Broken association count: #{broken_count}"
