- # We are not allowing files to be restored at this time.  This is because it relies on ChangeTracker and we don't want to rely on ChangeTracker.  We may someday save deleted files in the filesystem and allow restoration that way.  Until then, no file restoration.

- # If current_value it means that somebody uploaded a file while we were working
- #puts "NEW VALUE:"; pp data[:filename][:new_value]
- current_value = data[:filename][:current_value].filename
- new_value     = data[:filename][:new_value]
- new_filename  = new_value[:filename] || new_value['previous_filename']
- new_mimetype  = new_value[:type]     || new_value['previous_mime_type']
- initial_value = data[:filename][:initial_value]
-# puts "NEW FILNAME: #{new_filename}"; puts "NEW MIMETYPE: #{new_mimetype}"; puts

- pretty_widget_name = pretty_name
- vertex_pretty_id   = vertex.pretty_id

- # A few choices available for location of _pretty_id. I think this is constant tho. <-- Who wrote this?  Please write better comments!
%tr.content_row{:id => vertex_pretty_id + 'concurrency_row', :data_pretty_name => pretty_widget_name, :for => data[:label]}
  - # The only case...but anyway...
  - if new_filename
    %label.widget_label.main_input{:for => vertex_pretty_id, :value => data[:label]}
      = data[:label]
    - # then we are going to let them choose between the file they are trying to upload and the file that was uploaded after they first loaded the page
    %td.changes_selector{:for => 'my_changes'}
      %input.concurrency_selector{:type => 'radio', :name => pretty_widget_name + '_radio_selector', :checked => true}
    %td.my_changes{:for => 'my_changes'}
      - # No input fields necessary. Do need to be able to delete file in db, if radio this is selected
      %div.widget.simple_widget.file{:id => "#{vertex_pretty_id}_widget", :title => data[:hover], :class => !vertex.immutable? ? 'mutable' : ''}
        - # %input.widget_data{:type => 'hidden', :name => pretty_widget_name + '_filename', :value => new_value, :data_name => 'filename'}
        %input.widget_data{:type => 'hidden', :name => pretty_widget_name + '_previous_filename', :value => new_filename, :data_name => 'previous_filename'}
        %input.widget_data{:type => 'hidden', :name => pretty_widget_name + '_previous_mime_type', :value => new_mimetype, :data_name => 'previous_mime_type'}
        - # we set the initial_value to the current value so that when we submit the new value we only get a concurrency error if the file stored in the database changed during the concurrency popup (i.e. after the submit that resulted in this concurrency popup)
        %input.widget_data{:type => 'hidden', :name => pretty_widget_name + '_last_update', :data_name => 'last_update', :value => last_update}
        - # %input.widget_initial_data{:type => 'hidden', :name => pretty_widget_name + '_last_update_initial', :data_name => 'last_update', :value => last_update}
        - # %input.widget_initial_data{:type => 'hidden', :name => pretty_widget_name + '_filename_initial', :data_name => 'filename', :value => current_value}
        %input.widget_info{:type=>'hidden', :name => pretty_widget_name + '_delete_attrib', :value => 'false'}
        To Be Stored:
        - # puts "LOCALS DATA: #{data}"
        = new_filename
          
    %td.changes_selector{:for => 'changes_found'}
      %input.concurrency_selector{:type => 'radio', :name => pretty_widget_name + '_radio_selector', :checked => false}
    %td.changes_found{:for => 'changes_found'}
      %div.widget.simple_widget.has_last_update.file{:id => "#{vertex_pretty_id}_widget", :title => data[:hover], :class => !vertex.immutable? ? 'mutable' : ''}
        - # Delete previous file params if choosing the existing file. Only option available\needed for this radio
        - # Possible could delete temp file if it exists and persists?
        %input.widget_data{:type => 'hidden', :name => pretty_widget_name + '_filename',           :value => ''}
        %input.widget_data{:type => 'hidden', :name => pretty_widget_name + '_previous_filename',  :value => ''}
        %input.widget_data{:type => 'hidden', :name => pretty_widget_name + '_previous_mime_type', :value => ''}
        %input.widget_data{:type => 'hidden', :name => pretty_widget_name + '_last_update', :data_name => 'last_update', :value => last_update}
        %input.widget_info{:type=>  'hidden', :name => pretty_widget_name + '_delete_attrib',      :value => 'false'}
        
        - if current_value
          %span.stored_file
            Stored File:
            - # = current_value.filename
            = current_value
              