- wdf = widget.default_language_string

- content          = data[:content]
- current_richtext = content[:current_value] if content
- new_richtext     = content[:new_value]     if content
- found_content       = current_richtext.content         if current_richtext
- found_language_enum = current_richtext.markup_language if current_richtext
- my_content          = new_richtext.content             if new_richtext
- my_language_enum    = new_richtext.markup_language     if new_richtext


- # FIXME We are getting a string instead of an enum so there is a workaround here so we can keep digging through to a solution.  The problem lies in the creation of getters for complex attributes in SSA.  It needs to work the same way everything else does. 
- found_language_enum ||= widget.default_language_string # remove me
- my_language_enum    ||= widget.default_language_string # remove me
- my_language    = my_language_enum.is_a?(String)    ? my_language_enum    : my_language_enum.value
- found_language = found_language_enum.is_a?(String) ? found_language_enum : found_language_enum.value

- found_language ||= widget.default_language_string
- my_language    ||= widget.default_language_string

-# Set CSS class for displayed content. This determines which text editor is used.
- my_content_class    = my_language    ? "text-#{my_language.downcase}"    : "text-#{wdf.downcase}"
- found_content_class = found_language ? "text-#{found_language.downcase}" : "text-#{wdf.downcase}"

%tr.content_row{:id => vertex.pretty_id + 'concurrency_row', :data_pretty_name => pretty_name, :for => data[:label]}
  %th{:scope => 'row'}
    %label.widget_label.main_input{:for => vertex.pretty_id, :value => data[:label]}
      = "#{data[:label]}:"
  %td.changes_selector{:for => 'my_changes'}
    %input.concurrency_selector{:type => 'radio', :name => pretty_name + '_radio_selector', :checked => true}
  %td.my_changes{:for => 'my_changes'}
    %div.widget.simple_widget.text{:title => data[:hover], :class => !vertex.immutable? ? 'mutable' : ''}
      - if found_language && my_language
        Language:
        %br
        %input.widget_data.language_selector{:readonly => true, :name => pretty_name + '_language', :disabled => vertex.immutable?, :value => my_language, :sub_attribute => 'Language'}
      - if found_language_enum && content
        %br
      - if content
        Content:
        %textarea.widget_data.editor{:readonly => true, :class => my_content_class, :name => pretty_name + '_content', :disabled => vertex.immutable?, :sub_attribute => 'Content'}
          = my_content
  %td.changes_selector{:for => 'changes_found'}
    %input.concurrency_selector{:type => 'radio', :name => pretty_name + '_radio_selector', :checked => false}
  %td.changes_found{:for => 'changes_found'}
    %div.widget.simple_widget.text{:title => data[:hover], :class => !vertex.immutable? ? 'mutable' : ''}
      - if found_language_enum
        Language:
        %br
        %input.widget_data.language_selector{:readonly => true, :name => pretty_name + '_language', :value => found_language, :sub_attribute => 'Language'}
      - if found_language_enum && content
        %br
      - if content
        Content:
        %textarea.widget_data.editor{:readonly => true, :class => found_content_class, :name => pretty_name + '_content', :sub_attribute => 'Content'}
          = found_content