- found_field_value  = data[:value][:current_value]
- my_field_value     = data[:value][:new_value]
- pretty_widget_name = pretty_name
- vertex_pretty_id   = vertex.pretty_id
%tr.content_row{:id => vertex_pretty_id + 'concurrency_row', :data_pretty_name => pretty_widget_name, :for => data[:label]}
  %th{:scope => 'row'}
    %label.widget_label.main_input{:for => vertex_pretty_id, :value => data[:label]}
      = "#{data[:label]}:"
  %td.changes_selector{:for => 'my_changes'}
    %input.concurrency_selector{:type => 'radio', :name => pretty_widget_name + '_radio_selector', :checked => true}
  %td.my_changes{:for => 'my_changes'}
    .widget.simple_widget.string{:id => "#{vertex_pretty_id}_widget", :title => data[:hover], :class => !vertex.immutable? ? 'mutable' : ''}
      - if widget.multiple
        %input.multi_template.hidden{:type => 'text', :name => "#{field_name.sub('edit', 'template')}[]", :disabled => vertex.immutable?, :id => "#{vertex_pretty_id}_template" }
        - if !vertex.immutable?
          %input.add_multi{:type => 'button', :value => 'Add', :id => "add_#{vertex_pretty_id}"}
        - my_field_value.each_with_index do |obj, index|
          %input.multi_widget.widget_data{:read_only => true, :type => 'text', :name => pretty_name, :value => obj.to_s, :disabled => vertex.immutable?, :id => "#{vertex_pretty_id}#{index}", :initial_value => obj.to_s }
          %br
      - else
        %input.widget_data.form-control{:readonly => true, :value => my_field_value, :type => 'text', :name => pretty_widget_name}
  %td.changes_selector{:for => 'changes_found'}
    %input.concurrency_selector{:type => 'radio', :name => pretty_widget_name + '_radio_selector', :checked => false}
  %td.changes_found{:for => 'changes_found'}
    .widget.simple_widget.string{:id => "#{vertex_pretty_id}_widget", :title => data[:hover], :class => !vertex.immutable? ? 'mutable' : ''}
      - if widget.multiple
        %input.multi_template.hidden{:type => 'text', :name => "#{field_name.sub('edit', 'template')}[]", :disabled => vertex.immutable?, :id => "#{vertex_pretty_id}_template" }
        - if !vertex.immutable?
          %input.add_multi{:type => 'button', :value => 'Add', :id => "add_#{vertex_pretty_id}"}
        - found_field_value.each_with_index do |obj, index|
          %input.multi_widget.widget_data{:read_only => true, :type => 'text', :name => pretty_widget_name, :value => obj.to_s, :disabled => vertex.immutable?, :id => "#{vertex_pretty_id}#{index}" }
          %br
      - else
        %input.widget_data.form-control{:readonly => true, :value => found_field_value, :type => 'text', :name => pretty_widget_name}